body {
    background-color: #000000; 
  }
  
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

body {
  font-family: 'Montserrat', sans-serif;
}

  .container-fluid {
    padding: 2rem;
  }
  
  .category-title {
    margin-bottom: 1rem;
    color: #ffffff; 
    font-size: 2rem;
  }
  
  .scrollable-row {
    overflow-x: auto;
    white-space: nowrap;
  }
  
  .scrollable-item {
    display: inline-block;
  }
  
  .card-style {
    width: 150px;
    height: 300px;
    background-color: #1b1b1b; 
    color: #ffffff; 
    border: none; 
    margin: 0 0.5rem;
  }
  
  .bg-midnight-black {
    background-color: #000000; 
    color: #ffffff;
  }
    
  .card-title {
    white-space: normal;
    font-size: 1rem; 
  }

.scrollable-row::-webkit-scrollbar {
    display: none;
  }
  

  .scrollable-row {
    -ms-overflow-style: none;  
    scrollbar-width: none; 
  }
  
  .scrollable-row {
    overflow-x: auto;
    overflow-y: hidden;
    white-space: nowrap;
    scrollbar-width: none; /* For Firefox */
    -ms-overflow-style: none; /* For Internet Explorer and Edge */
  }
  
  .scrollable-row::-webkit-scrollbar {
    display: none; /* For Chrome, Safari and Opera */
  }
  
  .carousel-container {
    height: 600px; /* Adjust the height as desired */
  }
  
  .carousel-image {
    height: 600px; /* Adjust the height of the image as desired */
    object-fit:fill;
  }
  
  .carousel-caption {
    background-color: rgba(0, 0, 0, 0.6);
    padding: 20px;
    text-align: center;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
  }
  
  .carousel-title {
    font-size: 28px;
    font-weight: bold;
    color: #fff;
    margin-bottom: 10px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.8);
  }
  
  .carousel-description {
    font-size: 16px;
    color: #fff;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.8);
  }
  